html{
    overflow: hidden;
}

*, *::before, *, *::after {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
.firstBody{
    padding:0;
    margin:0;
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    overflow: hidden;
    width:100vw;
    background:linear-gradient(to top left, #66b3ff,#a3d1ff,#66b3ff);
    background: cover;
    background-size: 100%;
    overflow: hidden;
}
.secondBody{
    padding:0;
    margin:0;
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    overflow: hidden;
    width:100vw;
    background:linear-gradient(to top left, #ffad99, #66b3ff,#80ffaa) no-repeat;
    background: cover;
    background-size: 100%;
    overflow: hidden;
}

.container{
    width:500px;
    height: 500px;
    display:flex;
    align-items: center;
    justify-content: center;
    max-width:90%;
    background-color:rgba(1, 1, 1, 0.0);
    border-radius:50px;
    border-color: transparent;
}
.btnquestion{
    background-color:transparent;
    outline:none;
    color: white;
    width:800px;
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: center;
    border-color: transparent;
    padding:5px 20px;
    border-radius:30px;
    font-size: 40px;
    animation: 2s fadeIn;
}
.menu{
    background-color:transparent;
    outline:none;
    color: white;
    width:300px;
    position: absolute;
    bottom:300px;
    justify-content: center;
    border-color: transparent;
    padding:5px 20px;
    border-radius:30px;
    font-size: 40px;
    animation: 2s fadeIn;
    max-width: 50%;
    outline:none;
    margin: auto;
    background-color: #66b3ff;
}

.results{
    display: flex;
    align-items: center;
    justify-content: center;
}
 .score{
    background-color:transparent;
    outline:none;
    color: white;
    width:350px;
    position: absolute;
    bottom:400px;
    justify-content: center;
    border-color: transparent;
    padding:5px 20px;
    border-radius:30px;
    font-size: 40px;
    animation: 2s fadeIn;
    max-width: 50%;
    outline:none;
    margin: auto;
    background-color: #66b3ff;
}
.sucess{
    background-color:transparent;
    outline:none;
    color: white;
    width:300px;
    position: absolute;
    bottom:500px;
    justify-content: center;
    border-color: transparent;
    padding:5px 20px;
    border-radius:30px;
    font-size: 40px;
    animation: 2s fadeIn;
    max-width: 50%;
    outline:none;
    margin: auto;
    background-color: #66b3ff;
}

.btn-grid{
    display:grid;
    gap:15px;
    margin: 15px 0;
    animation: 2s fadeIn;
}
.btn{
   max-width: 50%;
   background-color: #66b3ff;
   outline:none;
   width:800px;
   margin: auto;
   border-color: transparent;
   padding:10px 20px;
   border-radius:30px;
   font-size: 40px;
   animation: 2s fadeIn;
   transition: background-color 0.5s ease-in-out;
}
.btn:hover{
    background-color: white;
    transform: scale(1.05);
    color:black;
}
.correct{
    background:#80ffaa;
}
.wrong{
    background:#ffad99;
}
.start-btn{
    padding:10px 20px;
    border-radius:30px;
    font-size:2.5rem;
    margin: auto;
    width: 300px;
    top:350px;
    text-align: center;
    background-color:#66b3ff;
    animation: 2s fadeIn;
    color:white;
    position:absolute; 
    border: none;
}
.options{
 
   position:absolute;
   top:480px;  font-weight: normal;
   background-color: #66b3ff;
   outline:none;
   width:300px;
   margin: auto;
   color:white;
   border-color: transparent;
   padding:10px 20px;
   border-radius:30px;
   font-size: 40px;
   animation: 2s fadeIn;
   transition: background-color 0.5s ease-in-out;
}
.controls{
    display:flex;
    align-items: center;
    justify-content: center;
}
.hide{
    display:none;
}
.show{
    width:500px;
    height: 500px;
    display:flex;
    align-items: center;
    justify-content: center;
    max-width:90%;
    background-color:rgba(1, 1, 1, 0.5);
    border-radius:50px;
    border-color: transparent;
    animation: 2s fadeIn;
}
.next-btn{
    font-size:2rem;
    margin: auto;
    position: fixed;
    bottom:40px; 
    right: 50px;
    left: 50px;
    text-align: center; 
    align-items: center;
    justify-content: center;
    width:400px;
    animation: 2s fadeIn;
}
.restart-btn{
    background-color:transparent;
    outline:none;
    color: white;
    width:300px;
    position: absolute;
    bottom:200px;
    justify-content: center;
    border-color: transparent;
    padding:5px 20px;
    border-radius:30px;
    font-size: 40px;
    animation: 2s fadeIn;
    max-width: 50%;
    outline:none;
    margin: auto;
    background-color: #66b3ff;
}
h1{
    padding:10px 20px;
    border-radius:30px;
    font-size:2.5rem;
    margin: auto;
    width: 300px;
    top:200px;
    text-align: center;
    background-color:#66b3ff;
    animation: 2s fadeIn;
    color:white;
    position:absolute; 
    top:200px;  
    font-weight: normal;
}
h3{
    padding:10px 20px;
    border-radius:30px;
    font-size: 40px;
    font-weight:bold;
    margin: auto;
    width: 400px;
    text-align: center;
    z-index: 1;
    background-color: #66b3ff;
    animation: 2s fadeIn;
}
h2{
    animation: 0.5s fadeIn;
    padding:10px 20px;
    border-radius:30px;
    font-size: 40px;
    margin: auto;
    z-index: 2;
    width: 400px;
    text-align: center;
    background-color: #66b3ff;
    color:white; 
    position:absolute; 
    top:75px; 
    font-weight: normal;
}
h4{
    animation: 0.5s fadeIn;
    padding:5px 20px;
    border-radius:30px;
    font-size: 32px;
    font-weight:normal;
    color: white;
    margin: 5px auto;
    display: block;
    z-index: 2;
    width: 150px;
    text-align: center;
    background-color: #66b3ff;
}
@keyframes fadeIn{
    from{
opacity: 0;
    }
    to{
opacity: 1;
    }
}
@keyframes fadeInFast{
    from{
opacity: 0.7;
    }
    to{
opacity: 1;
    }
}
@-webkit-keyframes fadeLeft{
	from{
opacity:0;
-webkit-transform:translate3d(-200%, 0, 0);
transform: translate3d(-200%, 0, 0);
	}
	to{
opacity:1;
-webkit-transform:none;
transform:none;
	}
}
@keyframes fadeLeft{
	from{
opacity:0;
-webkit-transform:translate3d(-200%, 0, 0);
transform: translate3d(-200%, 0, 0);
	}
	to{
opacity:1;
-webkit-transform:none;
transform:none;
	}
}
.fadeLeft{
	-webkit-animation-name:fadeLeft;
      animation-name:fadeLeft; 
      animation: 3s fadeLeft;
}
@-webkit-keyframes fadeRight{
from{
opacity:0;
-webkit-transform:translate3d(200%, 0, 0);
transform: translate3d(200%, 0, 0);
}
to{
opacity:1;
-webkit-transform:none;
transform:none;
}
}
@keyframes fadeRight{
	from{
opacity:0;
-webkit-transform:translate3d(200%, 0, 0);
transform: translate3d(200%, 0, 0);
	}
	to{
opacity:1;
-webkit-transform:none;
transform:none;
	}
}
.fadeRight{
-webkit-animation-name:fadeRight;
animation-name:fadeRight; 
animation: 3s fadeRight;   
}











/* iphone */

@media only screen and (max-width:414px) and (min-width: 320px){

*, *::before, *, *::after {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
html{
    overflow: hidden;
}
.firstBody{
    padding:0;
    margin:0;
    overflow: hidden;
    background:linear-gradient(to top left, #66b3ff,#a3d1ff,#66b3ff);
    background: cover;
    background-size: 100%;
    overflow: hidden;
}
.secondBody{
    padding:0;
    margin:0;
    background:linear-gradient(to top left, #ffad99, #66b3ff,#80ffaa) no-repeat;
    background: cover;
    background-size: 100%;
    overflow: hidden;
}

.container{
    width:400px;
    height: 400px;
    display:flex;
    align-items: center;
    justify-content: center;
    max-width:90%;
    background-color:rgba(1, 1, 1, 0.0);
    border-radius:50px;
    border-color: transparent;
}
.btnquestion{
    background-color:transparent;
    outline:none;
    color: white;
    width:400px;
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: center;
    border-color: transparent;
    padding:5px 20px;
    border-radius:30px;
    font-size: 30px;
    animation: 2s fadeIn;
}
.menu{
    background-color:transparent;
    outline:none;
    color: white;
    width:300px;
    position: absolute;
    bottom:200px;
    justify-content: center;
    border-color: transparent;
    padding:5px 20px;
    border-radius:30px;
    font-size: 25px;
    animation: 2s fadeIn;
    max-width: 50%;
    outline:none;
    margin: auto;
    background-color: #66b3ff;
}

.results{
    display: flex;
    align-items: center;
    justify-content: center;
}
 .score{
    background-color:transparent;
    outline:none;
    color: white;
    width:350px;
    position: absolute;
    bottom:300px;
    justify-content: center;
    border-color: transparent;
    padding:5px 20px;
    border-radius:30px;
    font-size: 25px;
    animation: 2s fadeIn;
    max-width: 50%;
    outline:none;
    margin: auto;
    background-color: #66b3ff;
}
.sucess{
    background-color:transparent;
    outline:none;
    color: white;
    width:300px;
    position: absolute;
    bottom:400px;
    justify-content: center;
    border-color: transparent;
    padding:5px 20px;
    border-radius:30px;
    font-size: 25px;
    animation: 2s fadeIn;
    max-width: 50%;
    outline:none;
    margin: auto;
    background-color: #66b3ff;
}

.btn-grid{
    display:grid;
    gap:15px;
    margin: 15px 0;
    animation: 2s fadeIn;
}
.btn{
   max-width: 50%;
   background-color: #66b3ff;
   outline:none;
   width:400px;
   margin: auto;
   border-color: transparent;
   padding:10px 20px;
   border-radius:30px;
   font-size: 30px;
   animation: 2s fadeIn;
   transition: background-color 0.5s ease-in-out;
}
.btn:hover{
    background-color: white;
    transform: scale(1.05);
    color:black;
}
.correct{
    background:#80ffaa;
}
.wrong{
    background:#ffad99;
}
.start-btn{
    padding:10px 20px;
    border-radius:30px;
    font-size:2.25rem;
    margin: auto;
    width: 200px;
    top:250px;
    text-align: center;
    background-color:#66b3ff;
    animation: 2s fadeIn;
    color:white;
    position:absolute; 
    border: none;
}
.options{
 
   top:350px;  
   padding:10px 20px;
   border-radius:30px;
   font-size:2.25rem;
   margin: auto;
   width: 200px;
   text-align: center;
   background-color:#66b3ff;
   animation: 2s fadeIn;
   color:white;
   position:absolute; 
   border: none;
}
.controls{
    display:flex;
    align-items: center;
    justify-content: center;
}
.hide{
    display:none;
}
.show{
    width:400px;
    height: 405px;
    display:flex;
    align-items: center;
    justify-content: center;
    max-width:90%;
    top:65px;
    position: absolute;
    background-color:rgba(1, 1, 1, 0.5);
    border-radius:50px;
    border-color: transparent;
    animation: 2s fadeIn;
}
.next-btn{
    background-color:transparent;
    outline:none;
    color: white;
    width:200px;
    position: fixed;
    bottom:35px;
    left:0;
    right: 50px;
    border-color: transparent;
    padding:10px;
    border-radius:30px;
    font-size: 30px;
    outline:none;
    background-color: #66b3ff;
}
.restart-btn{
    background-color:transparent;
    outline:none;
    color: white;
    width:300px;
    position: absolute;
    bottom:100px;
    justify-content: center;
    border-color: transparent;
    padding:5px 20px;
    border-radius:30px;
    font-size: 25px;
    animation: 2s fadeIn;
    max-width: 50%;
    outline:none;
    margin: auto;
    background-color: #66b3ff;
}
h1{
    padding:10px 20px;
    border-radius:30px;
    font-size:2.25rem;
    margin: auto;
    width: 200px;
    top:150px;
    text-align: center;
    background-color:#66b3ff;
    animation: 2s fadeIn;
    color:white;
    position:absolute;   
    font-weight: normal;
}
h3{
    padding:10px 20px;
    border-radius:30px;
    font-size: 40px;
    font-weight:bold;
    margin: auto;
    width: 400px;
    text-align: center;
    z-index: 1;
    background-color: #66b3ff;
    animation: 2s fadeIn;
}
h2{
    animation: 0.5s fadeIn;
    padding:5px 20px;
    border-radius:30px;
    font-size: 23px;
    font-weight:normal;
    color: white;
    margin: 5px auto;
    position: fixed;
    top:10px;
    display: block;
    z-index: 2;
    width: 175px;
    text-align: center;
    background-color: #66b3ff;
}
h4{
    animation: 0.5s fadeIn;
    padding:3px 20px;
    border-radius:30px;
    font-size: 25px;
    font-weight:normal;
    color: white;
    margin: 7px auto;
    display: block;
    z-index: 2;
    width: 100px;
    text-align: center;
    background-color: #66b3ff;
}
}












